<%- include ('../partials/header') %>
<link rel="stylesheet" href="../../resources/css/stylesForRegister.css">
<%- include ('../partials/menu') %>
<style>
  h1 {
    color: #000000;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin-top: 15%;
  }

  #mainbutton {
    margin-top: 40px;
    width: 500px;
    height: 65px;
    color: #1DB954;
    background-color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }

  #greenhalf {
    margin-top:60px;
    height: 400px;
    width: 100%;
    background-color: #1DB954;
  }

  a {
    color: #1DB954;
  }

  a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
}
  </style>
<main>
  <body>
  <div class="content"><%- include ('../partials/message') %></div>
  <!-- Displays if user tried to visit prospects.ejs or mixify.ejs before logging in -->
  <% if (!loggedIn) { %>
    <div>
      <h4><center>You need to log in before you can add friends or mix with friends</center></h4>
    </div>
  <% } %>
  <div>
    <center><p style="margin-top: 35px;">
      Note: Due to Spotify's rate limits, only authorized spotify accounts can log in to our app to use it.
      If you wish to use your own spotify account, email luke.sellmayer@colorado.edu, and include the email associated with
      the spotify account you wish to use so that it can be added to the authorized users list.
    </p></center>
  </div>
  <div class = "container"
      <form action="/register" method="POST">
        <h1><center>Create your Mixify Account</center></h1> 
        <center><button id="mainbutton"><a href="/loginSpotify">Link with Spotify</a></button></center>
        <!-- <center><button type="submit" class="btn btn-primary">Link with Spotify</button></center> -->
      </form>

      <!-- <button><a href="/loginSpotify">login to spotify</a></button> -->

      <!-- <p>Already have an account?<a href="/login">Login</a></p> -->
  </div>
  <div id="greenhalf"></div>
</body>

  <script></script>
</main>

<%- include ('../partials/footer') %>