<%- include ('../partials/header') %>
<link rel="stylesheet" href="../../resources/css/mixify.css">
</head>
<body>
    
<%- include ('../partials/menu') %>
    
<main>
    <div id="mainContent">
        <h1>Add Some Friends!</h1>
        <input type="text">
        <button>Add</button>
        <div id="current">
            <h1 id="currentHeader">Current Friends</h1>
            <div class="friends">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture" class="profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture" class="profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture" class="profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture" class="profile">
            </div>
            <button>Mix!</button>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
