<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <h1 style="text-align:center" class="text-success">Add Friends</h1>
    <!-- 2 columns for current friends and prospective friends -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <h3 style="text-align:center" class="text-success">Current Friends</h3>
          </div>
          <div class="col-sm">
            <h3 style="text-align:center" class="text-success">Prospective Friends</h3>
          </div>
        </div>
      </div>
</main>