<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
      <form action="/register" method="POST">
        <h1>Register</h1>
        <div class = "form-group">
            <label for="InputEmail">Username</label>
            <input name="username" type="email" class="form-control" id="InputEmail" placeholder="Username">
        </div>
        <div class= "form-group">
            <label for="InputPassword">Password</label>
            <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>

      <button><a href="/loginSpotify">login to spotify</a></button>

      <p>Already have an account?<a href="/login">Login</a></p>
  </div>

  <script></script>
</main>

<%- include ('../partials/footer') %>